#about {
    margin-bottom: 15rem;
}

.profile {
    position: absolute;
    width: 336px;
    height: 420.48px;
    box-shadow: 0.5rem 0.5rem black, -0.8rem -0.8rem #e1ad01;
    margin-top: 1%;
    left: 15%;
}

.title {
    position: absolute;
    left: 50%;
    right: 0;
    font-size: 32px;
    color: #fff;
}

.letter {
    color: #e1ad01;
}

.aboutMe {
    position: absolute;
}

.summary {
    color: #fff;
    padding-left: 50%;
    padding-right: 15%;
    margin-top: 5%;
}